@font-face {
    font-display: swap;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/almarai-v19-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/almarai-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/almarai-v19-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/almarai-v19-latin-800.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/red-rose-v25-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/red-rose-v25-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/red-rose-v25-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/red-rose-v25-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/red-rose-v25-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/delius-unicase-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Delius Unicase';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/delius-unicase-v30-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Klee One';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/klee-one-v13-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Klee One';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/klee-one-v13-latin-600.woff2') format('woff2');
}