@use './global' as *;

body {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: #303131;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 1217px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    .player-scores {
        background-color: #86E9D633;
        display: flex;
        justify-content: center;
        width: 292px;
        height: 62px;
        gap: 20px;

        .labelss {
            display: flex;
            align-items: center;
            gap: 4px;

            .playerone {
                color: #2BB1FF;
                font-size: 24px;
                font-weight: 700;
                font-family: 'Red Rose';
            }

            .playertwo {
                color: #F58E39;
                font-size: 24px;
                font-weight: 700;
                font-family: 'Red Rose';
            }
        }

        .labels {
            width: 24px;
        }
    }

    .current-player {
        display: flex;
        align-items: flex-end;
        gap: 8px;

        .current {
            font-size: 26px;
            font-weight: 400;
            font-family: 'Red Rose';
            color: white;
        }
    }

    .exit-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 207px;
        height: 62px;
        background-color: #86E9D633;
        border: 1px solid #4DD5BC;
        color: white;
        gap: 10px;

        img {
            width: 30px;
        }

        .exit-text {
            font-size: 24px;
            font-weight: 700;
            font-family: 'Red Rose';
        }
    }
}