@use './font';

:root {
    --bg-color: #303131;
    --btn-color: #F0EA6E;
    --option-card-color: #F6F6F6;
    --vibe-theme-color: #4DD5BC;
}

* {
    margin: 0;
    padding: 0;
}

@mixin margin-top-bottom {
    margin-top: 0px;
    margin-bottom: 0px;
}