@use './global' as *;
@use './font';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.start-play-overlay {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .controller-bg {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .headline-text {
        width: 991px;
        height: 229px;

        color: white;

        h3 {
            font-size: 48px;
            font-weight: 400;
            font-family: 'Almarai';
            @include margin-top-bottom;
        }

        h1 {
            font-size: 140px;
            font-weight: 700;
            font-family: 'Red Rose';
            @include margin-top-bottom;
        }
    }

    .play-start {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 24px;
        background-color: var(--btn-color);
        border: none;
        width: 250px;
        height: 98px;
        cursor: pointer;

        &:hover {
            width: 255px;
            transform: scale(1.01);

            .btn-image {
                transform: rotate(-25deg);
            }
        }

        h2 {
            font-family: 'Red Rose';
            font-size: 40px;
            font-weight: 700;
            @include margin-top-bottom;
        }

        .btn-image {
            width: 44px;
            height: 32px;
        }
    }
}